@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #d4cfb4;
}

header {
	display: flex;
	background: #d4cfb4;
	color: #4f4537;
	text-align: center;
	justify-content: center; /* Center all items horizontally */
	align-items: center;
}

table a:link{
	color: #4f4537;
	text-decoration: none;
}
table a:visited{
	color: #687056;
	text-decoration: none;
}

main {
	font-size: 18px;
	margin: 20px 250px 250px;
	color: #4f4537;
}

.birdbg {
	max-width: 250px;
	height: auto;
}

.subheader {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}

table {
	text-align: center;
	border-spacing: 5px;
	margin-left: auto;
	margin-right: auto;
}

table img {
	max-width: 250px;
	height: auto;
}

td, th { /* table cells */
	padding: 10px;
	text-align: center;
}

.navigation {
	background: #7f9c7e;
	color: #4f4537;
	clear: both;
	text-align: center;
	font-size: 18px;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: #faebd7;
}

footer {
	background: #7f9c7e;
	color: #faebd7;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}